@{
    ViewData["Title"] = "Dashboard Page";
}

<link rel="stylesheet" href="./css/StyleSheet.css" type="text/css" />

<section class="hero">
  <div class="content">
    <h2>Welcome to Berkeley College .</h2>
    </div>
</section>